<div class="row m-4" *ngIf="currentRecipe !== undefined">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <img src="{{ currentRecipe.imagePath }}" alt="{{ currentRecipe.name }}" class="img-responsive" style="width: 300px; height: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>{{ currentRecipe.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item" (click)="onIngredientAdded()">To Shopping List</a></li>
            <div class="dropdown-divider"></div>
            <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
            <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ currentRecipe.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredients">{{ ingredient.name }} -- ({{ ingredient.amount }})</li>
        </ul>
      </div>
    </div>
  </div>
</div>
